<div class="profile">
<h1> Hugo </h1>
<img src="/ruby-rails-sinatra.jpg" />
<h2> I'm coding in ruby sinatra </h2>
  <p>Aprendo lo basico de ruby/sinatra</p>
  <a href="/read_more">Read me</a>
</div>
<img src="http://placekitten.com/g/50/50"
     style="margin-left: 10px; margin-top: 10px;"/>