<div class="profile">
  <h1> Referencias </h1>
  <p>
    <a href="http://www.coderwave.com/">Coderwave Site</a><br />
    <a href="http://learn.coderwave.com/">Coderwave Site Learning</a><br />
    <a href="http://learn.coderwave.com/2013/10/07/coderwave-tutorials.html">Coderwave Site Tutorials</a><br />
    <a href="http://learn.coderwave.com/html/ruby/2013/10/07/publish-a-website-in-a-day-using-html-and-ruby.html">Coderwave Site : Publish a website in a day using html and ruby</a><br />
    <a href="http://www.coderwave.com/sinatra.html">Coderwave Site : Sinatra Tutorial</a><br />
    <a href="http://slid.es/esebastian/ruby-sinatra-website/">Tutorial adaptado por Eduardo Sebastian : Building a Ruby/Sinatra Website in an evening</a><br />
  </p>
    <a href="/"> Back </a>
</div>